{{ define "header" }}

<section class="browser container py-2">
    <header class="navbar">
        <section class="navbar-section">
            <div class="dropdown">
                <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                    分类 <i class="icon icon-caret"></i>
                </a>
                <ul class="menu">
                    {{ range $category := .Categories }}
                    {{ if ne $category.Count 0 }}
                    <li><a class="navbar-item" href="/category/{{ $category.ID }}">{{ $category.Name }}
                            ({{ $category.Count }})</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
        </section>
        <section class="navbar-center">
            <a href="/" class="navbar-brand mr-2">
                <img src="/image/logo.png" width="112" height="28">
            </a>
        </section>
        <section class="navbar-section">
            <div class="dropdown">
                <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                    标签 <i class="icon icon-caret"></i>
                </a>
                <ul class="menu">
                    {{ range $tag := .Tags }}
                    {{ if ne $tag.Count 0 }}
                    <li><a class="navbar-item" href="/tag/{{ $tag.Name }}">{{ $tag.Name }} ({{ $tag.Count }})</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
        </section>
    </header>

    {{ end }}