{{ define "header" }}

<section class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/image/logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navWidgets">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navWidgets" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    首页
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        分类
                    </a>

                    <div class="navbar-dropdown">
                        {{ range $category := .Categories }}
                            <a class="navbar-item" href="/category/{{ $category.ID }}">{{ $category.Name }} ({{ $category.Count }})</a>
                        {{ end }}
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        标签
                    </a>

                    <div class="navbar-dropdown">
                        {{ range $tag := .Tags }}
                            <a class="navbar-item" href="/tag/{{ $tag.Name }}">{{ $tag.Name }} ({{ $tag.Count }})</a>
                        {{ end }}
                    </div>
                </div>
            </div>

        </div>
    </nav>
</section>

{{ end }}