<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
    </link>
    <style>
        .article-title-link {
            color: #363636;
            cursor: pointer;
            text-decoration: none;
        }

        a:hover {
            color: #7a7a7a;
        }
    </style>



</head>

<body>

    {{ template "header" .}}

    <br /><br />

    <!-- 主体内容 -->
    {{ template "body" . }}

    {{ template "footer" . }}

    <!-- 支持mathjax -->
    {{ template "mathjax" .}}
</body>

</html>