{{ define "body" }}

{{ if  HasPrefix .ListType `category`  }}
{{ if ne .Category.TopicTitle `` }}
<section class="container">
  <div class="panel bg-gray">
    <div class="panel-header">
      <div class="panel-title"><h3>#{{ .Category.TopicTitle }}</h3></div>
    </div>
    <div class="panel-body">
      <article>
        {{ .Category.Topic }}
      </article>
    </div>
  </div>
</section>
{{ end }}
{{ end }}


<section class="container">
  {{ range $article := .Articles }}
  <div class="panel no-border">
    <div class="panel-header">
      <div class="panel-title">
        {{ if $article.IsDraft }}<span class="toast toast-error">草稿</span>&nbsp;{{ end }}
        <a class="article-title-link" href="/{{ $article.Filename }}">
          <h2>{{ $article.Title }}</h2>
        </a>
      </div>
    </div>
    <div class="panel-header text-right py-0">
      <span title="最后编辑于：{{ FormatTime .UpdateAt }}">最后编辑于：{{ .UpdateFromNow }}</span>
    </div>
    <div class="panel-body">
      {{ $article.Summary }}
    </div>
    <div class="panel-footer">
      {{ range $tag := .Tags }}
      <span class="chip"><a href="/tag/{{ $tag }}">{{ $tag }}</a></span>
      {{ end }}
    </div>
  </div>
  {{ end }}
  
  <ul class="pagination">
    <li class="page-item">
      <a href="{{ .PrevPage }}" tabindex="-1">上一页</a>
    </li>
    {{ range $page := .Pages }}
    <li class="page-item {{ if eq $page $.CurPage }} {{ `active` }} {{ end }}">
      {{ if IsDigit $page }}
      <a href="{{ printf `/%s/%s`  $.ListType $page }}">{{ $page }}</a>
      {{ else }}
      <span>...</span>
      {{ end}}
    </li>
    {{ end}}
    <li class="page-item">
      <a href="{{ .NextPage }}">下一页</a>
    </li>
  </ul>



{{ end }}