{{ define "body" }}

{{ if  HasPrefix .ListType `category`  }}
{{ if ne .Category.TopicTitle `` }}
<section class="container">
  <div class="panel bg-gray">
    <div class="panel-header">
      <div class="panel-title">#{{ .Category.TopicTitle }}</div>
    </div>
    <div class="panel-body">
      <article>
        {{ .Category.Topic }}
      </article>
    </div>
  </div>
</section>
{{ end }}
{{ end }}


<section class="container">
  {{ range $article := .Articles }}
  <div class="panel no-border">
    <div class="panel-header">
      <div class="panel-title">
        <a class="article-title-link" href="/{{ $article.Filename }}">
          <span class="list-title">
            {{ if $article.IsDraft }}
            <span class="bg-error px-1 py-1">草稿</span>
            {{ else }}
            📖
            {{ end }}
            {{ $article.Title }}
          </span>
        </a>
      </div>
    </div>
    <div class="panel-header text-right py-1">
      <span title="最后编辑于：{{ FormatTime .UpdateAt }}">最后编辑于：{{ .UpdateFromNow }}</span>
    </div>
    <div class="panel-body bg-gray prt-1">
      {{ $article.Summary }}
    </div>
    <div class="panel-footer bg-gray">
      {{ range $tag := .Tags }}
      <span class="chip"><a href="/tag/{{ $tag }}">{{ $tag }}</a></span>
      {{ end }}
    </div>
  </div>
  {{ end }}

  <ul class="pagination">
    <li class="page-item">
      <a href="{{ .PrevPage }}" tabindex="-1">上一页</a>
    </li>
    {{ range $page := .Pages }}
    <li class="page-item {{ if eq $page $.CurPage }} {{ `active` }} {{ end }}">
      {{ if IsDigit $page }}
      <a href="{{ printf `/%s/%s`  $.ListType $page }}">{{ $page }}</a>
      {{ else }}
      <span>...</span>
      {{ end}}
    </li>
    {{ end}}
    <li class="page-item">
      <a href="{{ .NextPage }}">下一页</a>
    </li>
  </ul>



  {{ end }}