.article-title-link {
    color: #363636;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #7a7a7a;
}

.footer {
    background-color: #fff;
}

body {
    font-size: 14px;
    font-family: Adelle, Roboto Slab, DejaVu Serif, Georgia, Times New Roman, sans-serif;
}

.float-ctl {
    position: fixed;
    top: 83%;
    left: 83%;
    z-index: 4;
    display: flex;
    flex-direction: column;
}


.toc {
    border-left: 2px dashed #efefef;
    position: fixed;
    top: 15%;
    left: 85%;
    height: 35rem;
    overflow: auto;
    z-index: 3;
}

ul li {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.no-border {
    border-style: none;
    box-sizing: unset;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.mrx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.prb-1 {
    padding-bottom: 1rem;
}

.mrt-1 {
    margin-top: 1rem;
}

.mrx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mrx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
}

.prx-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.prx-075 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}


.prx-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}


.plx-1 {
    padding-left: .5rem !important;
}

.plx-2 {
    padding-left: 1rem !important;
}

.plx-3 {
    padding-left: 2rem !important;
}

.plx-4 {
    padding-left: 3rem !important;
}

.plx-5 {
    padding-left: 4rem !important;
}

.plx-6 {
    padding-left: 5rem;
}

#float-mobile-ctl {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3rem;
    z-index: 10;
    max-width: 100%;
}

.float-mobile-ctl {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
}

.flex-right {
    justify-content: flex-end;
}

.flex-bottom {
    align-items: flex-end;
}

.flex-middle {
    align-items: center;
}

p>img {
    display: block;
    height: auto;
    max-width: 100%;
}

article>table {
    overflow: auto;
}

pre {
    overflow: auto;
}


a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.math {
    overflow: auto;
    max-width: 100%;
}

.panel-title {
    font-weight: 600;
    font-size: 1.5em;
}

.content {
    background-color: #fff;
}

li>p {
    display: inline-block;
    margin-bottom: 0;
}


.panel-body>p {
    margin-bottom: 0;
    margin-top: 1rem;
}

.list-title {
    margin-bottom: 0;
    color: #000;
    font-size: 1.25rem;
}

.title-sign {
    color: #999;
    font-size: 1.5rem;
}